.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  .quote {
    font-style: italic;
  }

  .quote::before {
    content: "\"";
  }

  .quote::after {
    content: "\"";
  }
  
  .author {
    font-weight: bold;
  }
  
  .author::before {
    content: " by ";
  }